@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
nav{
    height: 80px;
    z-index: 1;
}
.carousel-item{
   height: calc(100vh - 80px);
   background-image: url('../images/banner.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;   
}
.accordion-button:focus {  
    box-shadow: 0 0 0;
}
.accordion-button:not(.collapsed) {
    box-shadow: none;
}
.plan-btn{
    background-color: #f7e9f1cc;
}
.highlight{
    border-radius: 26px;
}
#celebrate{
   height: 70vh;
   background-image: url('../images/background.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
   background-color: rgba(0, 0, 0, 0.815);
   background-blend-mode: overlay;
}
.badge{
    position: relative;
    top: -58px;
    right: -220px;
}

    